<button type="button" class="btn btn-primary" (click)="onImport()">Import CSV into DB</button>

<button type="button" class="btn btn-danger" (click)="onDelete()">Delete tables</button>

<button type="button" class="btn btn-primary" (click)="onLoad()">Load data</button>

<table class="table">
  <thead>
    <tr>
      <th scope="col">#</th>
      <th scope="col">Asset id</th>
      <th scope="col">Created by</th>
      <th scope="col">Delete</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let d of arr | paginate: { itemsPerPage: 50, currentPage: p } ; let i = index ">
      <td scope="row"> {{ i }}</td>
      <td scope="row"><a routerLink="/update/ {{ d.id }}"> {{ d.id }}</a></td>
      <td scope="row"> {{ d.created_by }}</td>
      <td scope="row">
      	<button type="button" class="btn btn-danger" (click)="onDeleteRow(d.id)">Delete</button>
      </td>
    </tr>
      <pagination-controls (pageChange)="p = $event"></pagination-controls>
  </tbody>
</table>