
<div class="container">
  <div class="row">
    <div class="col-md-2 col-md-offset-5">
    </div>
      <h1>Web Test</h1>
</div>
<div class="container-fluid">
  <!-- Content here -->
 	<router-outlet></router-outlet>
</div>
</div>
