<form #form="ngForm" (ngSubmit)="onUpdate(form.value)" method="post">
<div class="form-group">
  <label for="usr">Asset id:</label>
  <input type="text" class="form-control" id="usr"  name="asset_id" ngModel value="{{ data_json?.asset_id }}">
</div>
<div class="form-group">
  <label for="usr">File name:</label>
  <input type="text" class="form-control" id="usr" ngModel name="file_name" value="{{ data_json?.file_name }}">
</div>
<div class="form-group">
  <label for="usr">Mime type:</label>
  <input type="text" class="form-control" id="usr" ngModel name = "mime_type" value="{{ data_json?.mime_type }}">
</div>
<div class="form-group">
  <label for="usr">Created by:</label>
  <input type="text" class="form-control" id="usr" ngModel name = "created_by" value="{{ data_json?.created_by }}">
</div>
<div class="form-group">
  <label for="usr">Email:</label>
  <input type="text" class="form-control" id="usr" ngModel name = "email" value="{{ data_json?.email }}">
</div>
<div class="form-group">
  <label for="usr">Country:</label>
  <input type="text" class="form-control" id="usr" ngModel name = "country" value="{{ data_json?.country }}">
</div>
<div class="form-group">
  <label for="usr">Description:</label>
  <textarea class="form-control" rows="5" id="comment" ngModel name = "description" value="{{ data_json?.description }}">
  </textarea>
</div>
<button type="submit" class="btn btn-info" >Update</button>	
</form>

